* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Montserrat', sans-serif;
}

/* generali */

button{
    padding: 10px 20px;

    border-radius: 30px;
    border: none;

    color: white;
    font-weight: bold;

    background-color:  rgb(146, 146, 247) ;
}


/* navbar */


.navbar{
    width: 100%;
    height: 60px;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;

    padding: 10px;

    position: fixed;

    z-index: 1;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.354);
    background-color: white;
}

.navbar .nav_left{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar .nav_right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_right select{
    padding: 10px 18px;
    border-radius: 30px;
    border: 2px solid lightblue;
}

.navbar img{
    width: 30px;
}


/* main */

.main{
    height: 95vh;
    background-color: rgb(217, 227, 245);
}


.container{
    max-width: 800px;
    margin: 0 auto;

    padding-top: 8rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 1rem;
}

#punteggio{
    text-align: center;
    
    color: rgb(146, 146, 247);

    font-weight: bold;

    font-size: 1.8rem;
}

/* griglia */

#grid_container{
    display: flex;
    flex-flow: row wrap;

    margin: 0 auto;
    background-color: white;

    font-weight: bold;

    color: rgb(146, 146, 247);
}



/* singola cella */


.cell {
    width: 50px;
    height: 50px;

    border: 1px solid rgb(103, 103, 226);

    padding: 3px;
}

/* background cella al click */

.normal{
    background-color: rgb(146, 146, 247);
    color: white;
}

.bomb{
    background-color: rgb(56, 46, 96);
    color: rgb(170, 105, 105);
}



footer{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(141, 113, 167);
}